<h1>{{title}}</h1>

<!-- Returned Book Requests Section -->
<section>
    <h2>Returned Book Requests</h2>
    {{#each returnedBookRequests}}
    <div>
        <h3>User: {{this.user}} Email Address: {{this.emailAddress}}</h3>
        <ul>
            {{#each this.return_requests}}
            <li>
                <p>Book: {{this.title}}</p>
                <!-- Add a button or link to process the return for each book -->
                <form action="/admin/processReturn" method="POST">
                    <input type="hidden" name="bookId" value="{{this._id}}" />
                    <input type="hidden" name="requesterEmail" value="{{../emailAddress}}" />
                    <button type="submit">Process Return</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <p>No returned book requests.</p>
    {{/each}}
</section>

{{!-- <!-- Approving Book Section -->
<section>
    <h2>Approve book requests:</h2>
    {{#each bookApprovalRequests}}
    <div>
        <h3>User: {{this._id}}</h3>
        <ul>
            {{#each this.requested_books}}
            <li>
                <p>Book: {{this}}</p>
                <!-- Add a button or link to approve each book -->
                <form action="/admin/approveBookRequest" method="POST">
                    <input type="hidden" name="bookId" value="{{this}}" />
                    <input type="hidden" name="requesterEmail" value="{{../_id}}" />
                    <button type="submit">Approve Request</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <p>No book requests.</p>
    {{/each}}
</section> --}}

<!-- Search and Update Section -->
<section>
    <h2>Search and Update Book</h2>
    <form id="searchForm" action="/books/updateBook" method="POST">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>

        <label for="stock">Total Stock:</label>
        <input type="number" id="Tstock" name="Tstock" min="0">

        <label for="Astock">Available Stock:</label>
        <input type="number" id="Astock" name="Astock" min="0">

        <label for="quality">Quality:</label>
        <select id="quality" name="quality">
            <option value="good">Good</option>
            <option value="fair">Fair</option>
            <option value="bad">Bad</option>
        </select>

        <button type="submit">Update Book</button>
    </form>
</section>
{{!-- Ajax Script --}}
<script src="/public/js/processReturn.js"></script>