<h1>{{title}}</h1>

<!-- Returned Book Requests Section -->
<section>
    <h2>Returned Book Requests</h2>
    {{#each returnedBookRequests}}
    <div>
        <h3>User: {{getReturnee this.user_id}}</h3>
        <ul>
            {{#each this.books_ids}}
            <li>
                <p>Book: {{getBookTitle this}}</p>
                <!-- Add a button or link to process the return for each book -->
                <button onclick="processReturn('{{this}}', '{{getReturnee ../user_id}}')">Process Return</button>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <p>No returned book requests.</p>
    {{/each}}
</section>

<!-- Approving Book Section -->
<section>
    <h2>Approve book requests:</h2>
    {{#each bookApprovalRequests}}
    <div>
        <h3>User: {{getUser this.user_id}}</h3>
        <ul>
            {{#each this.books_ids}}
            <li>
                <p>Book: {{getBookTitle this}}</p>
                <!-- Add a button or link to approve each book -->
                <form action="/admin/approveBookRequest" method="POST">
                    <input type="hidden" name="bookId" value="{{this}}" />
                    <input type="hidden" name="requesterEmail" value="{{getReturnee ../user_id}}" />
                    <button type="submit">Approve Request</button>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
    <p>No book requests.</p>
    {{/each}}
</section>

<!-- Search and Update Section -->
<section>
    <h2>Search and Update Book</h2>
    <form id="searchForm" action="/updateBook" method="POST">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" min="0">

        <label for="quality">Quality:</label>
        <select id="quality" name="quality">
            <option value="good">Good</option>
            <option value="fair">Fair</option>
            <option value="bad">Bad</option>
        </select>

        <button type="submit">Update Book</button>
    </form>
</section>