<h1>{{title}}</h1>

<section class="blogs-section">
  {{!-- Search bar with filter dropdown --}}
  <form action="/blogs/search" method="GET" class="search-form">
    <input
      type="text"
      name="search"
      placeholder="Search blogs..."
      aria-label="Search blogs"
    />

    {{!-- Filter dropdown --}}
    <select name="filter" aria-label="Filter by">
      <option value="title">By Title</option>
      <option value="author">By Author</option>
    </select>

    <button type="submit">Search</button>
    <div class="alert">{{error}}</div>
  </form>

  <a class="newBlogLink" id="newBlogLink" href="/blogs/create"
    >Create New Blog</a
  >

  {{#each data}}
  <article class="blog-list-item" id="{{this._id}}">
    <a class="toBlogDetails" href="/blogs/{{this._id}}">{{this.title}}</a>
    <p class="author">
      Author: {{this.author_info.firstName}} {{this.author_info.lastName}}
    </p>
    <p class="content">{{this.content}}</p>
    <p>{{this.comments.length}} comments</p>

    <p>
      <button
        class="openCommentForm"
        onclick="toggleForm('form-popup-{{this._id}}')"
      >
        Comment on Blog
      </button>
    </p>

    <div id="form-popup-{{this._id}}" class="form-popup">
      <form
        action="/blogs/{{this._id}}/comment"
        method="POST"
        id="comment-blog-form-{{this._id}}"
        class="form-container"
      >
        <h3>New Comment</h3>
        <label for="content-{{this._id}}">Content:</label>
        <textarea
          id="content-{{this._id}}"
          name="content-{{this._id}}"
          placeholder="content..."
          required
        ></textarea>
        <button type="submit" class="submitAndCloseComment">
          Submit Comment
        </button>
      </form>
    </div>
  </article>
  {{/each}}
</section>
