<h1>{{title}}</h1>

<p>Title: {{data.title}}</p>
<p>Author: {{data.author_info.firstName}} {{data.author_info.lastName}}</p>
<p>Blog: {{data.content}}</p>
<p>Date Posted: {{data.date_posted}}</p>

<button class="openCommentForm" onclick="toggleForm()">Comment on Event</button>
<div id="form-popup" class="form-popup">
  <form
    action="/blogs/{{data._id}}/comment"
    method="POST"
    id="comment-blog-form"
    class="form-container"
  >
    <h3>New Comment</h3>
    <label for="content">Content:</label>
    <textarea
      id="content"
      name="content"
      placeholder="content..."
      required
    ></textarea>
    <button type="submit" class="submitAndCloseComment">Submit Comment</button>
  </form>
</div>

<div class="comments-section">
  <p>{{data.comments.length}} comments</p>
  {{#if comments}}
  <ul class="comments-list">
    {{#each comments}}
    <li>{{data.comments}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>

<a id="backToBlogs" href="/blogs">Back to Blogs</a>
