<h1>{{title}}</h1>

<p>Title: {{data.title}}</p>
<p>Author: {{data.author_info.firstName}} {{data.author_info.lastName}}</p>
<p>Blog: {{data.content}}</p>
<p>Date Posted: {{data.date_posted}}</p>

<button class="openCommentForm" onclick="toggleForm('form-popup-{{data._id}}')">
  Comment on Event
</button>
<div id="form-popup-{{data._id}}" class="form-popup">
  <form
    action="/blogs/{{data._id}}/comment"
    method="POST"
    id="comment-blog-form-{{data._id}}"
    class="form-container"
  >
    <h3>New Comment</h3>
    <label for="content-{{data._id}}">Content:</label>
    <textarea
      id="content-{{data._id}}"
      name="content-{{data._id}}"
      placeholder="content..."
      required
    ></textarea>
    <div class="formAlert">{{error}}</div>

    <button type="submit" class="submitAndCloseComment">Submit Comment</button>
  </form>
</div>

<div class="comments-section">
  <p>{{data.comments.length}} comments</p>
  {{#if data.comments}}
  <ul class="comments-list">
    {{#each data.comments}}
    <li>{{this.content}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>

<a id="backToBlogs" href="/blogs">Back to Blogs</a>
