<div class="books" id="book-details">
  <h1>{{book.title}}</h1>
  {{#ifCond book.in_stock "gt" 0}}
  <form action="/borrow-book/{{book._id}}" method="POST">
    <button type="submit">Borrow Book</button>
  </form>
  {{else}}
  <p>Out of Stock!</p>
  {{/ifCond}}
  <p>Author(s): {{join book.authors ", "}}</p>
  <p>Genre: {{join book.genre ", "}}</p>
  <p>Publication Date: {{book.publication_date}}</p>
  <p>ISBN: {{book.isbn}}</p>
  <p>Page Count: {{book.page_count}}</p>
  <p>Language: {{book.language}}</p>
  <p>In Stock: {{book.in_stock}}</p>
  <p>Summary: {{book.summary}}</p>
  <h2>Reviews</h2>
  {{#each book.reviews}}
  <div class="review">
    <p>{{content}}</p>
  </div>
  {{/each}}
</div>
