<h1>{{title}}</h1>
<p>Title: {{data.title}}</p>
<p>ISBN: {{data.isbn}}</p>
<p>Author: {{data.authors}}</p>
<p>Publication Date: {{data.publication_date}}</p>
<p>Summary: {{data.summary}}</p>
<p>Language: {{data.language}}</p>
<p>Genres: {{data.genres}}</p>
<p>Page Count: {{data.page_count}}</p>
<p>In stock: {{data.current_stock}}</p>

{{#ifCond book.in_stock "gt" 0}}
<form action="/borrow-book/{{book._id}}" method="POST">
  <button type="submit">Borrow Book</button>
</form>
{{else}}
<p>Out of Stock!</p>
{{/ifCond}}

<h2>Reviews</h2>
{{#each book.reviews}}
<div class="review">
  <p>{{content}}</p>
</div>
{{/each}}
