<h1>{{title}}</h1>

<p>Title: {{data.title}}</p>
<p>ISBN: {{data.isbn}}</p>
<p>Authors:</p>
{{#if data.authors}}
<ul class="authors-list">
  {{#each data.authors}}
  <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}
<p>Publication Date: {{data.publication_date}}</p>
<p>Summary: {{data.summary}}</p>
<p>Language: {{data.language}}</p>
<p>Genres:</p>
{{#if data.genres}}
<ul class="genres-list">
  {{#each data.genres}}
  <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}
<p>Page Count: {{data.page_count}}</p>
<p>In stock: {{data.current_stock}}</p>
<p>Liability Cost: {{data.liability_cost}}</p>
<p>Condition Status: {{data.condition_status}}</p>

<p>
  <button
    class="openReviewForm"
    onclick="toggleForm('form-popup-{{data._id}}')"
  >
    Review on Book
  </button>
</p>

<div id="form-popup-{{data._id}}" class="form-popup">
  <form
    action="/books/{{data._id}}/review"
    method="POST"
    id="review-book-form-{{data._id}}"
    class="form-container"
  >
    <h3>New Review</h3>
    <label for="content">Review:</label>
    <textarea
      id="content"
      name="content"
      placeholder="Review..."
      required
    ></textarea>

    <label for="rating">Rating (0-5):</label>
    <input
      type="number"
      id="rating"
      name="rating"
      placeholder="Rating..."
      required
    />

    <button type="submit" class="submitAndCloseComment">Submit Review</button>
  </form>
</div>

<div class="reviews-section">
  <p>{{data.reviews.length}} Reviews</p>
  {{#if data.reviews}}
  <ul class="reviews-list">
    {{#each data.reviews}}
    <li>{{this.content}} | Rating: {{this.rating}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>

{{#unless data.user_favorited}}
<form
  action="/books/{{data._id}}/favorite"
  method="POST"
  id="favorite-book-form"
>
  <button type="submit">Favorite Book</button>
</form>
{{/unless}} {{#unless data.user_requested}}
<form action="/books/{{data._id}}/request" method="POST" id="request-book-form">
  <button type="submit">Request Book</button>
</form>
{{/unless}} {{#if data.user_requested}}
<form action="/books/{{data._id}}/return" method="POST" id="return-book-form">
  <button type="submit">Return Book</button>
</form>
{{/if}}

<a id="backToBooks" href="/books">Back to Books</a>
