<h1>{{title}}</h1>
<section class="books-section">
  <form action="/books/search" method="GET" class="search-form">
    <input
      type="text"
      name="search"
      placeholder="Search books..."
      aria-label="Search books"
    />

    <select name="filter" aria-label="Filter by">
      <option value="title">By Title</option>
      <option value="author">By Author</option>
    </select>
    <div class="alert">{{error}}</div>

    <button type="submit">Search</button>
  </form>

  {{#each data}}
  <article class="books-list-item">
    <a class="toBookDetails" href="/books/{{this._id}}">{{this.title}}</a>
    <p>Authors:</p>
    {{#if this.authors}}
    <ul class="authors-list">
      {{#each this.authors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <p>Summary: {{this.summary}}</p>
    <p>Number in stock: {{this.current_stock}}</p>
    <p>{{this.reviews.length}} reviews</p>

    <p>
      <button class="openReviewForm" onclick="toggleForm()">
        Review on Book
      </button>
    </p>

    <div id="form-popup" class="form-popup">
      <form
        action="/books/{{this._id}}/review"
        method="POST"
        id="review-book-form"
        class="form-container"
      >
        <h3>New Review</h3>
        <label for="content">Review:</label>
        <textarea
          id="content"
          name="content"
          placeholder="Review..."
          required
        ></textarea>

        <label for="rating">Rating (0-5):</label>
        <input
          type="number"
          id="rating"
          name="rating"
          placeholder="Rating..."
          required
        />

        <button type="submit" class="submitAndCloseComment">
          Submit Review
        </button>
      </form>
    </div>

    {{#unless this.user_requested}}
    <form
      action="/books/{{this._id}}/request"
      method="POST"
      id="request-book-form"
    >
      <button type="submit">Request Book</button>
    </form>
    {{/unless}}
  </article>
  {{/each}}
</section>
