<h1>{{title}}</h1>

{{!-- For testing purposes only right now: --}}
<p>Title: {{data.title}}</p>
<p>
  Organizer: {{data.organizer_info.firstName}} {{data.organizer_info.lastName}}
</p>
<p>Description: {{data.description}}</p>
<p>
  Location: {{data.location.address}}, {{data.location.state}}
  {{data.location.zip}}
</p>
<p>Date and Time: {{data.date_time}}</p>
<p>Fee: {{data.attending_fee}}</p>
<p>Capacity: {{data.capacity}}</p>
<p>Age Limit: {{data.age_limit}}</p>

<div class="comments-section">
  <p>{{data.comments.length}} comments</p>
  {{#if comments}}
  <ul class="comments-list">
    {{#each comments}}
    <li>{{data.content}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>

<p class="attendees-count">{{data.attendees.length}} people attending</p>

{{#ifCond data.capacity "gt" 0}}
<form action="/event/{{data._id}}" method="POST">
  <button type="submit">RSVP Here</button>
</form>
{{else}}
<p>Capacity Reached</p>
{{/ifCond}}

<a id="backToEvents" href="/events">Back to Events</a>
