<h1>{{title}}</h1>

{{!-- show saved information and give choice to edit info. this is not even a
skeleton --}}

<p class="userInfo">User Information</p>
<form method="GET" action="/home/profile">
  <ul>
    <li>First Name: {{ user.firstName }}</li>
    <li>Last Name: {{ user.lastName }}</li>
    <li>Date of Birth: {{ user.dateOfBirth }}</li>
    <li>Phone Number: {{ user.phoneNumber }}</li>
    <li>Email: {{ user.emailAddress }}</li>
    <li>Role: {{ user.role }}</li>
  </ul>
</form>

{{#if admin}}
<a href="/admin">Link to Admin Page</a>
{{/if}}

<a href="/logout">Logout</a>
